{{ define "main" }}

<section class="grid wrapper push-2 container terms functional-outcomes">
  <div class="unit xs-1 s-1 m-2-3">
    <section class="max-length pad-t-1 pad-b-1 section-p">
      <h2>Functional Outcomes</h2>
      {{ .Content}}
      <h4 class="text-primary">Example #1:</h4>
      <h4 class="text-primary">Tracking functional outcomes...</h4>
      
      <div style="display: flex;justify-content: space-between;align-items: center;width: 80vw;">
        <img src="/images/eldery/1400930_ElderlyWomanWheelchairToWalkingV5_1Wheelchair_070522.png" style="width: 15%;" alt="">
        <img src="/images/eldery/1400930_ElderlyWomanWheelchairToWalkingV5_2TherapyBars_070522.png" style="width: 15%;" alt="">
        <img src="/images/eldery/1400930_ElderlyWomanWheelchairToWalkingV5_3Walker_070522.png" style="width: 15%;" alt="">
        <img src="/images/eldery/1400930_ElderlyWomanWheelchairToWalkingV5_4Cane_070522.png" style="width: 15%;" alt="">
        <img src="/images/eldery/1400930_ElderlyWomanWheelchairToWalkingV6_5Walking_070822.png" style="width: 15%;" alt="">
      </div>
      <h4 class="text-primary">Example #1:</h4>
      <h4 class="text-primary">Tracking functional outcomes...</h4>
      <div style="display: flex;justify-content: space-between;align-items: center;width: 80vw;">
        <img src="/images/young/1400938_ManHomeToWorkV2_1InBed_070522.png" style="width: 15%;" alt="">
        <img src="/images/young/1400938_ManHomeToWorkV2_2NotEating_070522.png" style="width: 15%;" alt="">
        <img src="/images/young/1400938_ManHomeToWorkV2_3Chatting_070522.png" style="width: 15%;" alt="">
        <img src="/images/young/1400938_ManHomeToWorkV2_4MowingLawn_070522.png" style="width: 15%;" alt="">
        <img src="/images/young/1400938_ManHomeToWorkV2_5GoingToWork_070522.png" style="width: 15%;" alt="">
      </div>
    </section>
  </div>
</section>

{{- partial "getintouch.html" . -}}

{{ end }}