{{ define "main" }}



<section id="history" class="pad-t-2 pad-b-2 max-length gutter">
 <center><h2>What are Functional Outcomes?
</h2>
 <p style="line-height: 25px; padding-top: 12px;">Functional outcomes are important measures in a patient’s recovery.<br>
They focus on what a patient can do in their everyday lives<br>
… life skills, work, school, and relationships.
</p>

 <p style="line-height: 25px;">Functional outcomes are different than clinical outcomes, <br>
such as blood pressure, cholesterol levels <br>
or the symptoms a patient has because of an illness or injury. 
</p></center>

<p><br></p>

  <center><h2 class="margin-bottom">Why are Functional Outcomes important?

</h2>
 <p style="line-height: 25px; padding-top: 12px;">Functional outcomes are important to measure because<br>
they tell you how a patient is functioning day-to-day.</p>

 <p style="line-height: 25px;">This functioning is not always determined by a patient’s diagnosis <br>
or the clinical symptoms they present with.</p>

 <p style="line-height: 25px;">Two different patients with a stroke can function very differently.<br>
For example, one stroke patient might have difficulty eating independently, <br>
while the other is able to cook simple meals. </p>

 <p style="line-height: 25px;">Two different patients with depression can function very differently.<br>
For example, one depressed patient might have difficulty with self care, <br>
while the other is active as a volunteer in their community. </p>

 
 </center>
</section>

<section><center>

 <h2><b>POMMe-Health measures and tracks functional outcomes <br>
to help patients reach their maximum day-to-day functioning <br>
… their best quality of life.</b>
</h2>




  </center>
</section>


<section id="history" class="pad-t-2 pad-b-2 max-length gutter">
<div class="dskonly"><center><p style="margin-bottom: -10px;">Rehabilitation support</p></div>
 <div class="mobonly"><center><p style="margin-bottom: -10px;">Rehabilitation support</p></div>
<img src="/images/line.png">
 <br>
<img src="/images/case_1.png"></center>
  <div class="mobonly"><p></p></div>
 <p>Case #1:<br>
Betty is an 80-year-old female who had a stroke. An important functional outcome to track is her ability to walk. Providing the appropriate treatment to get her from being in her wheelchair to walking independently is one of the goals to improve her quality of life.

</p>




</section>






<section id="history" class="pad-t-2 pad-b-2 max-length gutter">
<div class="dskonly"><center><p style="margin-bottom: -10px;">Mental healthcare support</p></div>
 <div class="mobonly"><center><p style="margin-bottom: -10px;">Mental healthcare support</p></div>
<img src="/images/line.png">
 <br>
<img src="/images/case_2.png"></center>
 <div class="mobonly"><p></p></div>
 <p style="padding-top: 10px;">Case #2:<br>
Bernie is a 32-year-old man with a diagnosis of depression. An important functional outcome to track is his return to work. As he slowly starts to increase his self-care and re-engage with his community, the likelihood of his return to functional employment increases.

</p>


</section>













 


{{ end }}
