{{ define "main" }}

<section class="grid wrapper push-2 container terms functional-outcomes">
        <center><h2 style="margin-top: 5%;">What are Functional Outcomes?</h2></center>
  <div class="unit xs-1 s-1 m-2-3">
    <section class="max-length pad-t-1 pad-b-1 section-p">

      <!-- {{ .Content}} -->
      <div style="margin-top: 2.2em;margin-bottom: 2.5em;">
        <h3 class="kilo">Tracking functional outcomes ...</h3>
        <p style="color: #5d8fa8;font-weight: 600;">
          Prioritizing your care plan based on functioning.
        </p>
        <ul>
          <li>
            <span class="asterik">*</span>identifying changes in functionality
            quickly
          </li>
          <li>
            <span class="asterik">*</span>Prioritizing next actions or
            interventions
          </li>
          <li>
            <span class="asterik">*</span>Decrease risk for adverse events
          </li>
          <li>
            <span class="asterik">*</span>Providing better care for better
            patient quality of life
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div>
    <h4 class="text-primary">Example #1:</h4>
    <h4 class="text-primary">Tracking functional outcomes...</h4>
    
    <div class="flex-align">
      <img src="/images/eldery-women.png" style="object-fit: fill; width: 100%;" alt="">
    </div>
    <div style="margin: 10em 0em;"></div>
    <h4 class="text-primary">Example #1:</h4>
    <h4 class="text-primary">Tracking functional outcomes...</h4>
    <div class="flex-align">
      <img src="/images/young/1400938_ManHomeToWorkV2_1InBed_070522.png" style="width: 12.5%;" alt="">
      <img src="/images/young/1400938_ManHomeToWorkV2_2NotEating_070522.png" style="width: 12.5%;" alt="">
      <img src="/images/young/1400938_ManHomeToWorkV2_3Chatting_070522.png" style="width: 12.5%;" alt="">
      <img src="/images/young/1400938_ManHomeToWorkV2_4MowingLawn_070522.png" style="width: 12.5%;" alt="">
      <img src="/images/young/1400938_ManHomeToWorkV2_5GoingToWork_070522.png" style="width: 12.5%;" alt="">
    </div>
  </div>
</section>

{{- partial "getintouch.html" . -}}

{{ end }}
