{{ define "main" }}

<section class="small-banner" style="background: linear-gradient(to right, rgba(103, 142, 165, .75) , rgba(103, 142, 165, .75)), url({{ .Site.Data.healthcareprofessionals.banner.image }}); background-size: cover; background-position: center center;">
  <div class="small-banner-container wrapper grid island">
    <div class="unit xs-1 s-1 m-1 l-1-2">
      <h1 class="yotta push-0">{{ .Site.Data.healthcareprofessionals.banner.text }}</h1>
    </div>
  </div>
</section>

{{ range .Site.Data.healthcareprofessionals.professionalsSections }}
<section class="{{ .patients.professionalsBackground }} push-2 {{ .sectionPadding }} alternating-media">
  <div class="grid grid-middle wrapper media-items">
    <div class="unit xs-1 s-1 m-2-5 media-image-left wow animate__animated animate__fadeInLeft {{ .pushClass }}" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="embed embed-16by9">
        <img class="embed-item" src="{{ .image }}" alt="">
      </div>
    </div>
    <div class="unit xs-1 s-1 m-3-5 island media-body wow animate__animated animate__fadeIn {{ .pullClass}}" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <h3>{{ .mainSectionHeader }}</h3>
      {{ .mainSectionText | markdownify }}
    </div>
    <div class="unit xs-1 s-1 m-2-5 media-image-right wow animate__animated animate__fadeInRight {{ .pushClass }}" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="embed embed-16by9">
        <img class="embed-item" src="{{ .image }}" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- partial "getintouch.html" . -}}

{{ end }}
