{{ define "main" }}

<section class="small-banner" style="background: linear-gradient(to right, rgba(173, 36, 56, .5) , rgba(173, 36, 56, .5)), url({{ .Site.Data.patientsfamily.banner.image }}); background-size: cover; background-position: center center;">
  <div class="small-banner-container wrapper grid island">
    <div class="unit xs-1 s-1 m-1 l-1-2">
      <h1 class="yotta push-0">{{ .Site.Data.patientsfamily.banner.text }}</h1>
    </div>
  </div>
</section>

<section class="grid wrapper push-2">
  <div class="media-items width-100">
    <div class="unit xs-1 s-1 text-center wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <h3>Benefits</h3>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/easytoUse-green.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/data-entry-green.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/fast-green.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/noTraining-green.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="grid wrapper push-2">
  <div class="media-items width-100">
    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/easytoUse-green-blue.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/data-entry-green-blue.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/fast-green-blue.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>

    <div class="unit s-1-4 media-object wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <img class="width-100 media-image" src="/images/noTraining-green-blue.png" alt="">
      <div class="media-body">
        <h3>Headline</h3>
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Header 3</li>
          <li>Header 4</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="grid wrapper push-2">
  <div class="media-items width-100">
    <div class="unit xs-1 s-1 m-2-5 float-left wow animate__animated animate__fadeInLeft" data-wow-duration="1.25s" data-wow-delay="0.185s">
        <img class="width-100" src="/images/daughter-elderly-mother-cat.png" alt="">
    </div>

    <div class="unit xs-1 s-1 m-3-5 float-left wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <h3>POMMe Health</h3>
      <p>POMMe Health Description</p>
    </div>
  </div>
</section>

{{ range .Site.Data.patientsfamily.patientsSections }}
<section class="{{ .patients.professionalsBackground }} push-2 {{ .sectionPadding }} alternating-media">
  <div class="grid grid-middle wrapper media-items">
    <div class="unit xs-1 s-1 m-2-5 media-image-left wow animate__animated animate__fadeInLeft {{ .pushClass }}" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="embed embed-16by9">
        <img class="embed-item" src="{{ .image }}" alt="">
      </div>
    </div>
    <div class="unit xs-1 s-1 m-3-5 island media-body wow animate__animated animate__fadeIn {{ .pullClass}}" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <h3>{{ .mainSectionHeader }}</h3>
      {{ .mainSectionText | markdownify }}
    </div>
    <div class="unit xs-1 s-1 m-2-5 media-image-right wow animate__animated animate__fadeInRight {{ .pushClass }}" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="embed embed-16by9">
        <img class="embed-item" src="{{ .image }}" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- partial "getintouch.html" . -}}

{{ end }}
