{{ define "main" }}

<section
  class="small-banner"
  style="background: linear-gradient(to right, rgba(173, 36, 56, .5) , rgba(173, 36, 56, .5)), url({{ .Site.Data.patientsfamily.banner.image }}); background-size: cover; background-position: center center;"
>
  <div class="small-banner-container wrapper grid island">
    <div class="unit xs-1 s-1 m-1 l-1-2">
      <h1 class="yotta push-0">{{ .Site.Data.patientsfamily.banner.text }}</h1>
    </div>
  </div>
</section>

<section class="grid wrapper container push-2">
  <div class="width-100">
    <div class="unit xs-1 s-1 text-center">
      <h3 class="benefits">Benefits for Patients & Family</h3>
    </div>

    <div class="unit s-1 l-1-4 media-object">
      <div class="width-100 media-image easy-to-use"></div>
      <div class="media-body">
        <h3 class="kilo">Easy to use</h3>
        <p>POMMe-Health is simple and can be easily used at home.</p>
      </div>
    </div>

    <div class="unit s-1 l-1-4 media-object">
      <div class="width-100 media-image entering-data"></div>
      <div class="media-body">
        <h3 class="kilo">Easy to understand</h3>
        <p>
          The scoring system is easy to understand for patients and their
          family.
        </p>
      </div>
    </div>

    <div class="unit s-1 l-1-4 media-object">
      <div class="width-100 media-image fast-efficient c-1"></div>
      <div class="media-body">
        <h3 class="kilo">Fast and efficient</h3>
        <p>POMMe-Health is designed to be fast. Your time is valuable.</p>
      </div>
    </div>

    <div class="unit s-1 l-1-4 media-object">
      <div class="width-100 media-image no-training-required c-2"></div>
      <div class="media-body">
        <h3 class="kilo">No training required</h3>
        <p>The platform is intuitive and can be used right away.</p>
      </div>
    </div>
  </div>
</section>

<section class="grid wrapper push-2">
  <div class="media-items width-100">
    <div class="unit xs-1 s-1 m-2-5 float-left">
      <img
        class="width-100"
        src="/images/daughter-elderly-mother-cat.png"
        alt=""
      />
    </div>

    <div class="unit xs-1 s-1 m-3-5 float-left pad-t-2 pad-l-1-2">
      <h2>From the comfort of your home ...</h2>
      <h4 class="blue">Taking control of your healthcare with your team.</h4>
      <p>Being an active partner in your healthcare.</p>
      <p>
        Sharing your ideas and information with your healthcare team. </p>
        <p>Taking action when concerns arise.
      </p>
      <p>Staying on the same page as all of your providers.</p>
    </div>
  </div>
</section>
<section class="hcp-banner width-100">
  <div class="container">
    "Overall satisfaction with healthcare is highest when decisions are reached
    through shared decision making."
  </div>
</section>

<section class="grid wrapper container push-2">
  <div class="width-100 hcp-features">
    <div
      class="unit xs-1 s-1 text-center p-b-1 wow"
      data-wow-duration="1.25s"
      data-wow-delay="0.185s"
    >
      <h3 class="benefits">Features for Patient & Family Providers</h3>
    </div>

    <div>
      <div
        class="unit s-1 l-1-2 wow"
        data-wow-duration="1.25s"
        data-wow-delay="0.185s"
      >
        <img src="/images/Patient Home.png" />
      </div>

      <div class="unit s-1 l-1-2">
        <div>
          <div class="media-body">
            <h3 class="kilo">Easy access to your unique Home Page...</h3>
            <h3 class="kilo2">
              Being part of the decision-making process
            </h3>
            <ul>
              <li>
                <span class="asterik">*</span>Collaborating with your healthcare providers.
                quickly
              </li>
              <li>
                <span class="asterik">*</span>Sharing important information.
              </li>
              <li>
                <span class="asterik">*</span>Adapting to changes in your health.
              </li>
              <li>
                <span class="asterik">*</span>Viewing one comprehensive central care plan.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!-- <div 
        class="unit s-1 l-1-2 wow mt-3"
        data-wow-duration="1.25s"
        data-wow-delay="0.185s"
      >
        <img style="margin-bottom: -100px!important;" class="mobonly" src="/images/pomme-image.png" />
        <img class="dskonly" src="/images/pomme-image.png" />
       
   <br>
      </div>

      <div class="unit s-1 l-1-2 mt-3">
       
          <div class="media-body">
            <h3 class="kilo">Tracking functional outcomes ...</h3>
            <h3 class="kilo2">
              Prioritizing your care plan based on functioning.
            </h3>
            <ul>
              <li>
                <span class="asterik">*</span>identifying changes in functionality
                quickly
              </li>
              <li>
                <span class="asterik">*</span>Prioritizing next actions or
                interventions
              </li>
              <li>
                <span class="asterik">*</span>Decrease risk for adverse events
              </li>
              <li>
                <span class="asterik">*</span>Providing better care for better
                patient quality of life
              </li>
            </ul>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>

{{- partial "getintouchpilot.html" . -}} {{ end }}
