{{ define "main" }}

<section class="small-banner" style="background: linear-gradient(to right, rgba(54, 60, 79, .75) , rgba(54, 60, 79, .75)), url({{ .Site.Data.platform.banner.image }}); background-size: cover; background-position: center center;">
  <div class="small-banner-container  wrapper grid island">
    <div class="unit xs-1 s-1 m-1 l-1-2">
      <h1 class="yotta push-0">{{ .Site.Data.platform.banner.text }}</h1>
    </div>
  </div>
</section>

{{ range .Site.Data.platform.platformSections }}
<section class="home-panels {{ .sectionColour }}">
  <div class="grid grid-middle wrapper">
    <div class="unit xs-1 s-1 m-1-2 {{ .pushClass }}">
      <img class="img-flex" src="{{ .image }}" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1-2 {{ .pullClass }} island">
      <h2>{{ .mainSectionHeader }}</h2>
      <p>{{ .mainSectionText }}</p>
    </div>
  </div>
</section>
{{ end }}

{{- partial "getintouch.html" . -}}

{{ end }}
