{{ define "main" }}

<section class="grid wrapper push-2">
  <div class="width-100">
    <div class="unit xs-1 s-1 text-center wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <h3 class="benefits">Team Dynamics</h3>
    </div>

    <div class="unit s-1-3 media-object wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="width-100 media-image fast-efficient"></div>
      <div class="media-body">
        <h3 class="kilo">Cohesion</h3>
        <p>Interdisciplinary teams work better together when they utilize a common process. The united Care Management Plan provides cohesion for the team.</p>
      </div>
    </div>

    <div class="unit s-1-3 media-object wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="width-100 media-image no-training-required"></div>
      <div class="media-body">
        <h3 class="kilo">Confidence</h3>
        <p>It is important for care providers to know that they are making a difference; that they are doing the best they can. POMMe-Health eliminates gaps in care.</p>
      </div>
    </div>

    <div class="unit s-1-3 media-object wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="width-100 media-image easy-to-use"></div>
      <div class="media-body">
        <h3 class="kilo">Clarity</h3>
        <p>POMMe-Health reduces confusion for complex cases by delivering context for patient care. A common vision for the team for the patient is crucial for success.</p>
      </div>
    </div>

    <div class="unit s-1-3 media-object wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="width-100 media-image entering-data"></div>
      <div class="media-body">
        <h3 class="kilo">Collaboration</h3>
        <p>POMMe-Health allows for true collaboration ... a better outcome with all working together, not in silos.</p>
      </div>
    </div>

    <div class="unit s-1-3 media-object wow animate__animated animate__fadeIn" data-wow-duration="1.25s" data-wow-delay="0.185s">
      <div class="width-100 media-image entering-data"></div>
      <div class="media-body">
        <h3 class="kilo">Transparency</h3>
        <p>Care providers know where they fit in and what they are responsible for. Knowing how each care provider's role fits into the care plan for the patient.</p>
      </div>
    </div>
  </div>
</section>

{{- partial "getintouch.html" . -}}

{{ end }}