:root {
  --font-primary: "Quicksand";
  --color-light-gray: #FCFCFC;
  --color-medium-gray: #A5A5A5;
  --color-dark-gray: #353C51;
  --color-blue: #33BCAF;
  --color-medium-blue: #5D8FA8;
  --color-red: #ad2438;
}

html {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

.margin-top {
  margin-top: 2em;
}

section.home-cards {
  padding-top: 4.75em;
}

section.home-cards > p {
  font-size:  1.2em;
  margin: 0 auto;
  padding-bottom: 5px;
}

div.home-description p {
  margin-bottom: 0;
}

div.home-description p.home-description-last {
  margin-bottom: 1.25em;
}

/* Buttons */
/*Main ghost buttons from home page*/
.main-btn {
  border: 2px solid #000;
  border-radius: 30px;
  padding: 0.45em 0.75em;
  color: var(--color-blue);
  border-color: var(--color-blue);
  transition: all .3s ease;
  font-weight: 600;
  font-size: 0.8em;
}

.main-btn:hover {
  color: #fff;
  background-color: var(--color-blue);
}

.nav-btn {
  background-color: var(--color-blue);
  color: #fff;
  padding: .5em 2.5em;
  border: 2px solid var(--color-blue);
  border-radius: 30px;
  font-weight: 600;
  transition: all .3s ease;
}

.nav-btn:hover {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  transform: scale(1.015);
}

.logo {
  width: 180px;
}

/*------------Banner-------------*/

.jumbotron-banner {
  height: 480px;
}

.jumbotron-banner h1 {
  color: var(--color-light-gray);
  font-weight: 300;
}

.jumbotron-banner p {
  font-weight: 600;
  line-height: 1.7;
  text-align: left;
  color: #fff;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Home Cards */

.leading-paragraph {
  color: var(--color-dark-gray);
  font-weight: 600;
  margin: 0 auto;
  max-width: 30em;
}

.home-cards h2 {
  color: var(--color-dark-gray);
}

/* Home Sections */
section.home-panels .island {
  height:  auto;
  min-height: 17.75em;
  border: 10px solid #fff;
}

.home-page-sections {
  background-color: #F8F8F8;
}

.home-panels h2 {
  font-weight: 300;
}
.home-panels {
  margin-bottom: 3rem;
}

/* Health Care Professionals */
.small-banner {
  height: 300px;
  /* background-color: var(--color-blue); */
  background: url(../images/hero-banner-test.jpg);
  background-size: cover;
  background-position: center right;
  margin-bottom: 3em; 
}

.small-banner h1, .small-banner p {
  color: #fff;
}

.small-banner-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.healthcare-banner {
  background-color: var(--color-medium-blue);
}

.managers-banner {
  background-color: var(--color-dark-gray);
}

/* Get In Touch */

.get-in-touch-section {
  background: linear-gradient(rgba(53, 60, 81, .85), rgba(53, 60, 81, .85)), url("../images/get-in-touch.jpg");
  background-size: cover;
  background-position: center right;
}

.get-in-touch-section h2, .get-in-touch-section p {
  color: #fff;
}

.get-in-touch-section label {
  color: #fff;
}

/* Footer */
footer {
  border-top: 1px solid #e2e2e2;
  /* background-color: var(--color-dark-gray); */
}

footer h3 {
  color: var(--color-dark-gray);
}

footer a {
  color: var(--color-medium-blue);
  font-weight: 300;
  transition: all .3s ease;
}

footer a:hover {
  /*color: var(--color-dark-gray);*/
  color: #D8E5FE;
}

.nav-footer {
  text-align: center;
}

.footer-copyright {
  border-top: 1px solid var(--color-medium-gray);
  background-color: var(--color-blue);
}

.footer-copyright p {
  color: white;
}

/* POMMe Platform */

.platform-card {
  border: 1px solid var(--color-medium-gray);
  height: 600px;
}

/* Health Care Professionals & Patients and Family */

.features-banner {
  height: 300px;
  background-color: #e2e2e2;
}

.section-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

.professionals-background {
  background-color: #F8F8F8;
}

/* About Page */

.m-v-h3 {
  color: #868686;
}

.mission-value {
  background-color: #F8F8F8;
}

.whats-new-card p {
  color: var(--color-dark-gray);
}

.whats-new-card h3 {
  color: var(--color-dark-gray);
  transition: all .2s ease;
}

.card-shadow:hover .whats-new-card h3 {
  color: var(--color-blue)
}

.card-shadow:hover {
  transform: scale(1.03);
}

.mission-section {
  background-color: var(--color-dark-gray);
}

.mission-section h2 {
  color: #fff;
}

.mission-section p {
  color: #fff;
}

.blog-card {
  border: 1px solid var(--color-medium-gray);
  transition: all 0.215s ease-in;
  width: 100%;
}

.blog-title {
  font-weight: 700;
  color: var(--color-dark-gray);
  text-decoration: underline;
  transition: all .2s ease;
}

.blog-card:hover {
  transform: scale(1.03);
}

.blog-card:hover .blog-title {
  color: var(--color-blue);
}

.blog-card p {
  color: var(--color-dark-gray);
}

.blog-back {
  color: var(--color-blue);
  transition: all .2s ease;
}

.blog-back:hover {
  color: var(--color-dark-gray);
}

#about-news {
  background-color: #F8F8F8;
}

.news-card {
  border: 1px solid #92bcd0;
}

/* Contact */

.investors-section {
  background-color: #F8F8F8;
}

@media only screen and (min-width: 38em) {

  .nav-footer {
    text-align: left;
  }
 }
