<footer id="contact" class="nav-footer">
  <div class="grid wrapper pad-t-2">

   

    <div class="columnx4">
     <ul class="list-group push-0">
        <li><h3 class="milli">POMMe-Health Services</h3></li>
        <li class="push-1-4"><a class="micro ftlnk" href="/healthcare-professionals">Healthcare Providers</a></li>
        <li class="push-1-4"><a class="micro ftlnk" href="/patients-family">Patients and Family</a></li>
      </ul>
    </div>
   

   <div class="columnx4">
    <ul class="list-group">
        <li><h3 class="milli">Company</h3></li>
        <li class="push-1-2"><a class="micro ftlnk" href="/company#history">History</a></li>
        <li class="push-1-2"><a class="micro ftlnk" href="/company#mission-values">Vision and Mission Statements</a></li>
        <li class="push-1-2"><a class="micro ftlnk" href="/company#leadership">Leadership</a></li>
      </ul> 

   </div>

       <div class="columnx4">
    <ul class="list-group">
        <li><h3 class="milli">Contact</h3></li>
        <li class="push-1-2"><a class="micro ftlnk" href="tel:+1-833-766-6363">1-833-POMMeMD</a></li>
        <li class="push-1-2"><a class="micro ftlnk" href="tel:+1-833-766-6363">1-833-766-6363</a></li>
        <li class="push-1-2"><a class="micro ftlnk" href="mailto:info@pomme-health.com?subject=POMMe-Health Information Request">info@pomme-health.com</a></li>
      
       
      </ul> 
    </div>

      <div class="columnx4">
     <ul class="list-group">
        <li><h3 class="milli">Technical Support</h3></li>
        <li class="push-1-2"><a class="micro ftlnk" href="mailto:support@pomme-health.com?subject=POMMe-Health Support Request">support@pomme-health.com</a></li>
       
      </ul> 
   
    </div>


    
  <div class="columnx4"><a href="#" target="_blank"><img class="ftrlogo" src="/images/footer_logo_white.png"></a></div>
      <div class="columnx4"><a href="https://www.linkedin.com/company/pomme-health/" target="_blank"><img class="ftr_icons" src="/images/linkedin_ftr2.png"></a> <a href="https://www.facebook.com/p/POMMe-Health-100068300430247/" target="_blank"><img class="ftr_icons" src="/images/facebook_ftr.png"></a></div>
      <div class="columnx4">1</div>
      <div class="columnx4"><a style="font-size: 16px!important; margin-top: 10%;" class="ftlnk"  href="/terms-of-service">Terms of Service</a></div>

  </div>

 







  <div class="mobonly">
  <div class="grid wrapper">


<p><a href="#" target="_blank"><img class="ftrlogomob" src="/images/footer_logo_white.png"></a></p>
     </div>
  <p><center> <a href="https://www.linkedin.com/company/pomme-health/" target="_blank"><img class="ftr_icons" src="/images/linkedin_ftr2.png" width="30"></a> <a href="https://www.facebook.com/p/POMMe-Health-100068300430247/" target="_blank"><img class="ftr_icons" src="/images/facebook_ftr.png"></a></center></p>

  
  </div>



     
 

   
      
   

    
  </div>

  <center><p class="mobonly" style="text-align: center; margin-bottom: 20px; margin-top: 20px; font-size: 14px;"><a class="ftlnk" href="/terms-of-service">Terms of Service</a></p></center>
    
  <div class="footer-copyright pad-b pad-t">
    <p style="font-size: 14px;" class="text-center push-0">© Copyright <script>document.write( new Date().getFullYear() );</script> POMMe-Health Inc. All rights reserved.</p>
  </div>
</footer>
