<footer id="contact" class="nav-footer">
  <div class="grid wrapper pad-t-2 pad-b-2">
    <div class="unit xs-1 s-1 m-1-5 l-1-5 text-center gutter-1-2 push">

      <ul class="list-group-inline push-0">
        <li class="gutter-1-4"><a href="{{ .Site.Data.site.socialMedia.linkedin}}">
          <i class="icon i-32">
            <img src="/images/linkedin.svg">
          </i>
        </a></li>
      </ul>
    </div>

    <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
      <ul class="list-group push-0">
        <li><h3 class="milli">POMMe-Health Services</h3></li>
        <li class="push-1-4"><a class="micro" href="/health-care-professionals">Healthcare Professionals</a></li>
        <li class="push-1-4"><a class="micro" href="/patients-family">Patients and Family</a></li>
        <li class="push-1-4"><a class="micro" href="/healthcare-administrators">Healthcare Administrators</a></li>
      </ul>
    </div>
    <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">

      <ul class="list-group">
        <li><h3 class="milli">Company</h3></li>
        <li class="push-1-2"><a class="micro" href="/company#history">History</a></li>
        <li class="push-1-2"><a class="micro" href="/company#mission-values">Mission Statement</a></li>
        <li class="push-1-2"><a class="micro" href="/company#leadership">Leadership</a></li>
      </ul>
    </div>
    <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">

      <ul class="list-group">
        <li><h3 class="milli">Contact</h3></li>
        <li class="push-1-2"><a class="micro" href="tel:+1-833-766-6363">1-833-POMMeMD</a></li>
        <li class="push-1-2"><a class="micro" href="tel:+1-833-766-6363">1-833-766-6363</a></li>
        <li class="push-1-2"><a class="micro" href="mailto:info@pomme-health.com">info@pomme-health.com</a></li>
        <li class="push-1-2"><h3 class="milli"><a href="/contact#contact-technical-support">Technical Support</a></h3></li>
        <li class="push-1-2"><a class="micro" href="mailto:support@pomme-health.com">support@pomme-health.com</a></li>
      </ul>
    </div>
    <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
    </div>
  </div>
  <div class="footer-copyright pad-b pad-t">
    <p class="text-center push-0"><small>{{ .Site.Data.site.copyright }}</small></p>
    <small class="text-center push-0 terms"><a href="/terms-of-service">Terms of Service</a></small>
  </div>
</footer>