<section class="get-in-touch-section pad-b-2 pad-t-2">
    <div class="wrapper text-center">
      <h2>{{ .Site.Data.home.getInTouch.titlePilot }}</h2>
      <p>{{ .Site.Data.home.getInTouch.text }}</p>
      <form
        class="max-length gutter"
        method="POST"
        action="https://formsubmit.co/focus@pomme-health.com"
      >
        <label class="hidden">Email Address</label>
        <input
          class="push text-left email-address"
          type="email"
          name="email"
          placeholder="Email Address"
        />
        <button class="contact-btn" type="submit">Send</button>
      </form>
    </div>
  </section>