<header>
<div class="grid grid-middle wrapper">
  <div class="unit xs-3-4 m-1-2 l-1-3 island-1-2">
    <a class="logo" href="/"><img class="img-flex logo" src="/images/pomme-logo.svg" alt="POMMe-Health coloured logo"></a>
  </div>
  <div class="unit xs-1-4 m-1-2 l-0 text-right island">
    <button class="nav-label relative">
      <span class="line top"></span>
      <span class="line middle"></span>
      <span class="line bottom"></span>
    </button>
  </div>

  <div class="unit xs-0 s-0 m-0 l-2-3 text-right island-1-2">
    <ul class="list-group-inline ib push-0">
      <li class="gutter-1-4"><a href="{{ .Site.Data.site.socialMedia.linkedin}}">
        <i class="icon i-32">
          <img src="/images/linkedin.svg">
        </i>
      </a></li>
    </ul>
    <div class="ib">
      <a class="main-btn micro" href="/pomme-platform">Healthcare</a>
    </div>
  </div>
</div>
<div class="grid">
<nav class="unit m-1 l-1 menu">
  <ul class="list-group push-0 nav-list text-center">
    <li><a class="micro" class="current" href="/">Home</a></li>
    <li><a class="micro" href="/health-care-managers">Healthcare Managers</a></li>
    <li><a class="micro" href="/health-care-professionals">Healthcare Professionals</a></li>
    <li><a class="micro" href="/patients-family">Patients & Family</a></li>
    <li class="dropdown">
        <a  class="micro" class="dropbtn" href="/about">About ▾</a>
        <div class="dropdown-content">
          <a class="micro" href="/about#about-history">History</a>
          <a class="micro" href="/about#about-mission-values">Mission Statement</a>
          <a class="micro" href="/about#about-mission-values">Leadership</a>
          <a class="micro" href="/about#about-news">In the News</a>
        </div>
    </li>
    <li><a class="micro" href="/blog">Blog</a></li>
    <li class="dropdown">
        <a class="micro" class="dropbtn" href="/contact">Contact▾</a>
        <div class="dropdown-content">
          <a class="micro" href="/contact#contact-technical-support">Technical Support</a>
          <a class="micro" href="/contact#contact-investors">Investors</a>
        </div>
    </li>
  </ul>
</nav>
</div>
</header>