<header>
<div class="grid grid-middle wrapper">
  <div class="unit xs-3-4 m-1-2 l-1-3 island-1-2 no-padding-bottom">
    <a class="logo" href="/"><img class="img-flex logo" src="/images/pomme-logo.png" alt="POMMe-Health coloured logo"></a>
  </div>
  <div class="unit xs-1-4 m-1-2 l-0 text-right island">
    <button class="nav-label relative">
      <span class="line top"></span>
      <span class="line middle"></span>
      <span class="line bottom"></span>
    </button>
  </div>

  <div class="unit xs-0 s-0 m-0 l-2-3 text-right island-1-2 no-padding-bottom">
    <div class="ib">
      <a class="main-btn micro open-popup-link all-caps sign-in"href="#">Sign In</a>
    </div>
    <div class="ib">
      <a class="main-btn micro open-popup-link all-caps book-demo"  id="contact-popup" #} href="/contact">Book a Demo</a>
    </div>
  </div>
</div>
<div class="grid">
<nav class="unit m-1 l-1 menu">
  <ul class="list-group push-0 nav-list text-center">
    <li><a class="micro" class="current" href="/">Home</a></li>
    <li><a class="micro" href="/healthcare-professionals">Healthcare Professionals</a></li>
    <li><a class="micro" href="/patients-family">Patients & Family</a></li>
    <li><a class="micro" href="/healthcare-administrators">Healthcare Administrators</a></li>
    <li class="dropdown">
        <a  class="micro" class="dropbtn" href="/company">Company ▾</a>
        <div class="dropdown-content">
          <a class="micro" href="/company#history">History</a>
          <a class="micro" href="/company#mission-values">Mission Statement</a>
          <a class="micro" href="/company#leadership">Leadership</a>
        </div>
    </li>
    <!-- <li><a class="micro" href="/blog">Blog</a></li> -->
    <li class="dropdown">
        <a class="micro" class="dropbtn" href="/contact">Contact▾</a>
        <div class="dropdown-content">
          <a class="micro" href="/contact#contact-technical-support">Technical Support</a>
        </div>
    </li>
  </ul>
</nav>
</div>
</header>