<header class="navigation-header">
  <div class="grid">
    <div class="grid grid-middle wrapper-nav">
      <div class="unit xs-3-4 m-1-8 l-1-8 float-left island-1-2 no-padding-bottom">
        <a href="/"><img class="img-flex logo" src="/images/pomme-logo.png" alt="POMMe-Health coloured logo"></a>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;width: 100%;float: right;position: absolute;right: 0;">
        <div class="unit xs-1-4 m-hidden l-hidden float-right text-right hamburger">  
          <button class="nav-label relative">
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
          </button>
        </div>
        <div class="d-md-none" style="display: flex;flex-direction: column;align-items: center;flex-grow: .05;">
          <div class="ib">
            <a class="open-popup-link signin"href="/login">Sign In →</a>
          </div>
          <div class="ib">
            <a class="main-btn micro open-popup-link book-demo"  id="contact-popup" href="/contact">Book a Demo</a>
          </div>
        </div>
      </div>
      <nav class="unit m-5-8 l-5-8 justify-content-center menu">
        <ul class="list-group push-0 nav-list text-center nav">
          <li><a class="micro" class="current" href="/">Home</a></li>
          <li><a class="micro" href="/healthcare-professionals">Healthcare Providers</a></li>
          <li><a class="micro" href="/patients-family">Patients & Family</a></li>
          <li class="dropdown">
              <a  class="micro" class="dropbtn" href="/company">Company</a>
              <!-- <div class="dropdown-content">
                <a class="micro" href="/company#history">History</a>
                <a class="micro" href="/company#mission-values">Mission Statement</a>
                <a class="micro" href="/company#leadership">Leadership</a>
              </div> -->
          </li>
          <!-- <li><a class="micro" href="/blog">Blog</a></li> -->
          <li class="dropdown">
              <a class="micro" class="dropbtn" href="/#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="unit xs-0 s-0 m-2-8 l-2-8 justify-content-end no-padding-bottom">
        <div class="ib">
          <a class="open-popup-link signin"href="/login">Sign In →</a>
        </div>
        <div class="ib">
          <a class="main-btn micro open-popup-link book-demo"  id="contact-popup" href="/contact">Book a Demo</a>
        </div>
      </div>
    </div>
  </div>
</header>
