<head>
  <meta charset="utf-8">
  <title>POMMe-Health</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/type.css" rel="stylesheet">
  <link href="/css/module.css" rel="stylesheet">
  <link href="/css/navigation-style.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" }}">
</head>