{{ define "main" }}

<section class="jumbotron-banner" style="background: linear-gradient(to right, rgba(53, 60, 81, .85) , rgba(3, 170, 157, .5)), url({{ .Site.Data.home.heroBanner.image }}); background-size: cover; background-position: center right;">
  <div class="jumbotron-container wrapper grid island">
    <div class="unit xs-1 s-1 m-1 l-1 home-description">
      <h1 class="zetta home-title">{{ .Site.Data.home.heroBanner.title }}</h1>
      <p class="intro">Tracking <strong>functional outcomes</strong> to measurably improve<br>a patient's quality of life.</p>
      <p class="intro">Eliminating gaps in collaborative healthcare through better communication.</p>
      <p class="home-description-last">{{ .Site.Data.home.heroBanner.text3 }}</p>
      <a class="home-btn" href="/functional-outcomes">Learn about <strong class="functional-outcomes-btn">functional outcomes</strong></a>
    </div>
  </div>
</section>

<section class="wrapper pad-t-1 pad-b-1 gutter-1-2">
  <h2 class="healthcare-decisions-h2">Healthcare decisions</h2>
  <p class="text-center">... driven by information from both the clinician and the patient.</p>
  <p class="text-center">A <strong class="strong-collaborative-platform">collaborative platform</strong> that empowers interdisciplinary teams<br>to unite with clarity, context, and confidence.</p>
  <ul class="list-group grid grid-top margin-top">
    {{ range .Site.Data.home.homeCards }}
      <li class="unit xs-1 s-1 m-1-3 l-1-3 text-center island-1-2 mt-xs-2" data-wow-duration="1.25s" data-wow-delay="0.25s" data-wow-offset="180">
        <i class="icon i-128 push-1-2">
          <img src="{{ .icon }}" alt="">
        </i>
        <h2 class="milli push-1-2">{{ .title }}</h2>
        <p class="milli push-0">{{ .text1 }}</p>
        <p class="milli push-0">{{ .text2 }}</p>
      </li>
    {{ end }}
  </ul>
</section>

<section class="pad-t-1 pad-b-1 gutter-1-2 value-based-helthcare-bg">
  <div class="wrapper">
    <h2 style="padding-top: 18px;" class="white">Value-based healthcare for everyone.</h2>
    <p class="white">POMMe-Health delivers a customizable, patient-centric communication platform<br>that rapidly measures and tracks functional outcomes.</p>
    <p style="padding-top: 5px;" class="white">Big data analytics provide predictive information to implement proactive interventions.</p>
    <p style="padding-top: 5px;" class="white">Relevant performance metrics and healthcare KPIs measurably keep healthcare teams on track.</p>
  <div>
</section>

<section class="pad-b-2 gutter-1-2">
  <div class="grid wrapper">
    <div class="xs-1 text-center pad-b-1-2">
      <h2>Collaborative healthcare made easier for ...</h2>
    </div>
    <div class="xs-1 s-1 m-1-2 l-1-2 text-center">
      <img class="healthcare-providers" src="/images/healthcare-providers.png">
      <h3 class="collaborative-healthcare">Healthcare Providers</h3>
      <p>Understanding the context of all healthcare interventions.<br>
      Trusting your team and the care you provide.</p>
      <p><strong>Benefits</strong> and <strong>Features</strong> for Healthcare Providers.</p>
      <a class="secondary-btn" href="/healthcare-professionals">Healthcare Providers</a>
    </div>
    <div class="xs-1 s-1 m-1-2 l-1-2 text-center mt-xs-3">
      <img class="mother-daughter" src="/images/mother-daughter.png">
      <h3 class="collaborative-healthcare">Patients &amp; Family</h3>
      <p>Being part of the decision-making process.<br>
      Being aware of what each healthcare provider is responsible for.</p>
      <p><strong>Benefits</strong> and <strong>Features</strong> for Patients &amp; Family.</p>
      <a class="secondary-btn" href="/patients-family">Patients &amp; Family</a>
    </div>
  <div>
</section>

<section class="value-based-helthcare-bg">
  <h2 class="measurably-improving-banner white">Measurably improving a patient's quality of life.</h2>
</section>

<section>
  <h2 class="text-center pad-t-1-2 pad-b-1-3 m-e-1">Benefits of the POMMe-Health Platform</h2>
  <section class="grid wrapper push-2 container">
    <div class="unit xs-1 s-1 m-1-2">
      <section class="max-length pad-t-1 pad-b-1-2">
        <img src="/images/customizable-healthcare-patient-all.png">
      </section>
    </div>
    <div class="unit xs-1 s-1 m-1-2 m-pp-1">
      <section class="max-length pad-t-1 pad-b-1-2 section-p section-justify">
        <h2 class="black">Customizable</h2>
        <h4 class="blue">A platform that is as unique as the patient in their environment.</h4>
        <p>Each patient is unique; their health care management is also unique.</p>
        <p>The POMMe platform can be customized for the information that the patient wants to measure.</p>
        <p>Health care providers can track functional outcome measures that are more specific and relevant.</p>
        <p>Customizing the POMMe platform saves time and energy for everyone on the healthcare team.</p>
        <p>Patients will benefit from a tailored care management plan.</p>
      </section>
    </div>
  </section>

  <section class="grid wrapper push-2 container">
    <div class="unit xs-1 s-1 m-1-2 d-md-none d-visible">
      <section class="max-length pad-t-1 pad-b-1-2" style="display: flex;justify-content: center;">
        <img src="/images/puzzle-piece-missing-gaps.png">
      </section>
    </div>
    <div class="unit xs-1 s-1 m-1-2 m-pp-2">
      <section class="max-length pad-t-1 pad-b-1-2 section-p section-justify">
        <h2 class="black">Collaborative</h2>
        <h4 class="blue">Sharing Ideas; not just collecting information.</h4>
        <p>Interdisciplinary teams don’t communicate effectively. They are busy and don’t speak the same language.</p>
        <p>As a result, the health care team is not truly aware of how well the patient is functioning.</p>
        <p>Relevant information is hidden in the medical files as providers work in silos.</p>
        <p>Allowing all providers and the patient to speak the same language allows for true collaboration.</p>
        <p>Working together allows for better informed decision making. Together, we are greater as a whole.</p>
      </section>
    </div>
    <div class="unit xs-1 s-1 m-1-2 d-md-visible d-none">
      <section class="max-length pad-t-1 pad-b-1-2">
        <img src="/images/puzzle-piece-missing-gaps.png">
      </section>
    </div>
  </section>
</section>

<section class="grid wrapper push-2 container">
  <div class="unit xs-1 s-1 m-1-2">
    <section class="max-length pad-t-1 pad-b-1-2" style="display: flex;justify-content: center;">
      <img src="/images/proactive-healthcare.png" class="img-m-1 min-image">
    </section>
  </div>
  <div class="unit xs-1 s-1 m-1-2 m-pp-3">
    <section class="max-length pad-t-1 pad-b-1 section-p section-justify">
      <h2 class="black">Continuous and Proactive</h2>
      <h4 class="blue">Tracking progress over time.</h4>
      <p>The ability to intervene sooner when subtle changes are recognized in patient functioning.</p>
      <p>Continuous quality improvement with measurement and management for optimal patient outcomes.</p>
      <p>Medium-range data collection and analysis assists with decision to maintain, change or withdraw interventions.</p>
      <p>Long-range big data analytics to determine best resource allocation for patient groups.</p>
    </section>
  </div>
</section>

<p>{{ .Site.Data.home.testing }}</p>
{{- partial "getintouch.html" . -}}
</section>

{{ end }}
